*.pyc
*.swo
*.swp
*.core

*\.del*
.idea/*
venv/*


world/etc/local_settings.sh
world/etc/local_settings.py
world/etc/nginx.conf
world/etc/supervisor.conf
world/etc/init\.d/runserver.sh

world/var/log/*

world/var/run/*

world/var/sys/sessions/*

/world/var/sys/sqlite3/*


world/var/www/media/*

world/var/www/static/*


