/* SLOGAN */
@import url(https://fonts.googleapis.com/css?family=Lora:400,700);
/* CONTENT */
@import url(https://fonts.googleapis.com/css?family=Slabo+27px);
@import url(https://fonts.googleapis.com/css?family=Poiret+One);

/* ANGULARJS */
/* While AngularJS not loaded - to hide the ``ng-cloak`` block. */
.ng-cloak,
.x-ng-cloak,
[ng:cloak],
[ng-cloak],
[data-ng-cloak],
[x-ng-cloak] {
    display: none;
}

/* ELEMENTS */
*,
html,
body {
    margin: 0;
    padding: 0;
    font-size: 16px;
    font-family: 'Slabo 27px', serif;
}

footer {
    margin: 20px 0 0 0;
    padding: 20px 0 0 0;
    height: 80px;
    border-top: 1px solid #efefef;
    background-color: #f1f1f1;
    color: #9d9d9d;
}

footer div {
    text-align: center;
    font-size: .9em;
}

footer .livarava-brand {
    display: inline-block;
    background-image: url(../img/livarava-brand.png);
    width: 74px;
    height: 28px;
    position: relative;
    top: 3px;
}


/* PAGES */
/* Rows */
.row.display {
    height: 700px;
}

.row.display div[class^=col-] {
    height: 100%;
    -moz-background-size: 100%; /* Firefox 3.6+ */
    -webkit-background-size: 100%; /* Safari 3.1+ и Chrome 4.0+ */
    -o-background-size: 100%; /* Opera 9.6+ */
    background-size: 100%;
}

/* A */
.a .left {
    background: url(../img/pages/a_left.png) no-repeat;
}

.a .right {
    background: url(../img/pages/a_right.png) no-repeat;
}

.a .right .brand {
    float: right;
    margin-top: 40px;
    margin-right: 30px;
    display: inline-block;
    width: 130px;
    height: 70px;
    background: url(../img/pages/brand.png) no-repeat;
    -moz-background-size: 100%; /* Firefox 3.6+ */
    -webkit-background-size: 100%; /* Safari 3.1+ и Chrome 4.0+ */
    -o-background-size: 100%; /* Opera 9.6+ */
    background-size: 100%;
}

.a .right .slogan {
    margin-top: 120px;
    font-size: 4.3em;
    text-align: right;
    font-weight: 400;
    line-height: .9;
    font-family: 'Lora', serif;
    text-transform: uppercase;
}

.a .right .content {
    margin-top: 80px;
    font-size: 3.5em;
    line-height: .9;
    text-align: right;
    text-transform: uppercase;
}

.a .right .nav {
    margin-top: 30px;
    text-align: right;
}

/* B */
.b .left {
    padding-top: 40px;
}

.b .right {
    background: url(../img/pages/b_right.png) no-repeat;
}

/* C */
.c .left {
    background: url(../img/pages/c_left.png) no-repeat;
}

.c .right {
    padding-top: 40px;
}

/* D */
.d .left {
    padding-top: 40px;
}

.d .right {
    background: url(../img/pages/b_right.png) no-repeat;
}

/* FEEDBACK */
.feedback {
    padding-top: 20px;
}

.feedback h1 {
    width: 100%;
    font-size: 3.2em;
    text-align: center;
}

.feedback p {
    font-size: 2em;
    text-align: center;
}

.feedback input[type=text] {
    width: 100%;
    padding: 10px;
}

.feedback .row {
    margin: 20px 0;
}

.feedback textarea {
    width: 100%;
    height: 140px;
    resize: none;
    padding: 10px;
}


/* COMPONENTS */
/* Title */
h1 {
    text-transform: uppercase;
    font-size: 4.1em;
    font-weight: 700;
    line-height: .9;
    display: inline-block;
    width: 80%;
}

article {
    font-size: 1.8em;
    padding-bottom: 20px;
    margin-bottom: 25px;
    line-height: 1;
    text-align: justify;
    border-bottom: 1px solid #0e0e0e;
    font-family: 'Poiret One', cursive;
}

.content {
    margin-left: 10%;
}

/* Buttons */
button.classic {
    padding: 10px 30px;
    text-transform: uppercase;
    background: none;
    border: 1px solid #bfbfbf;
    color: #7e7e7e;
}

button.classic:hover {
    background-color: #ea5267;
    color: #efefef;
    border: 1px solid #b74d62;
}

/* Scroll */
::-webkit-scrollbar {
    width: 8px;
}

::-webkit-scrollbar-button {
    width: 8px;
    height: 5px;
}

::-webkit-scrollbar-track {
    background:#eee;
    border: thin solid lightgray;
    box-shadow: 0px 0px 3px #dfdfdf inset;
    border-radius:10px;
}

::-webkit-scrollbar-thumb {
    background:#999;
    border: thin solid gray;
    border-radius:10px;
}

::-webkit-scrollbar-thumb:hover {
    background:#7d7d7d;
}

