{% extends 'base.jinja' %}

{% block js %}
    {{ super() }}
    <script src="{{ static('lib/angularjs/1.4.8/angular.min.js') }}"></script>
    <script src="{{ static('this/js/angularjs/app.js') }}"></script>
    <script src="{{ static('this/js/angularjs/validators/charfield.js') }}"></script>
    <script src="{{ static('this/js/angularjs/controllers/feedbackctrl.js') }}"></script>

    {# If the form with errors - scroll to the form. #}
    {% if form.errors %}
        <script>
        (function($) {$(document).ready(function() {
            var eltop = $("#feedback").offset().top;
            $("html, body").animate({scrollTop:eltop}, 1500, 'swing');
        })})(jQuery);
        </script>
    {% endif %}

{% endblock %}

{% block css %}
    {{ super() }}
    <link rel="stylesheet" href="{{ static('this/css/angularjs.css') }}" />
{% endblock %}

{% block angularjsdata %}ng-app="appDlvpef"{% endblock %}

{% block content %}
    {% if not pages %}
        <section>
            <div class="container-fluid">
                <div class="row">
                    <div class="col-md-12 col-sm-12" style="text-align:center;margin-top:60px;font-size:3em;">
                        {{ _('This site is temporarily has no information') }}!
                    </div>
                </div>
            </div>
        </section>
    {% endif %}

    {% if pages.main %}
        <section>
            <div class="container-fluid">
                <div class="row">
                    <div class="col-md-6 col-sm-6 bg1">
                    </div>
                    <div class="col-md-6 col-sm-6 bg2">
                        <div class="logo">
                            <img src="{{ static('this/images/logo.png') }}" />
                        </div>
                        <div style="clear:both;"></div>
                        <div class="slogan">
                            {{ pages.main.title|nl2br }}
                        </div>
                        <img class="line" src="{{ static('this/images/line.jpg') }}" />
                        <div class="content">
                            {{ pages.main.content|nl2br }}
                        </div>
                        {% if pages.main.nav_is_active %}
                            <a href="{{ pages.main.nav_role }}" class="btn btn-default but">
                                {{ pages.main.nav_title }}
                            </a>
                        {% endif %}
                    </div>
                </div>
            </div>
        </section>
    {% endif %}

    {% if pages.biography %}
        <section class="sect2">
            <div class="container-fluid">
                <div class="row">
                    <div class="col-md-6 col-sm-6 text-block-pd-20-xs">
                        <div class="slogan_sect2">
                            {{ pages.biography.title|nl2br }}
                        </div>
                        <img class="line2" src="{{ static('this/images/line2.jpg') }}"/>
                        <div class="content_sect2">
                            <p>
                                {{ pages.biography.content|nl2br }}
                            </p>
                        </div>
                        {% if pages.biography.nav_is_active %}
                            <a href="{{ pages.biography.nav_role }}" class="btn btn-default but2">
                                {{ pages.biography.nav_title }}
                            </a>
                        {% endif %}
                    </div>
                    <div class="col-md-6 col-sm-6 bg3"></div>
                </div>
            </div>
        </section>
    {% endif %}

    {% if pages.information %}
        <section class="sect3">
            <div class="container-fluid">
                <div class="row">
                    <div class="col-md-6 col-sm-6 bg4"></div>
                    <div class="col-md-6 col-sm-6 text-block-pd-20-xs">
                        <div class="slogan_sect3">
                            {{ pages.information.title|nl2br }}
                        </div>
                        <img class="line2_sect3" src="{{ static('this/images/line2.jpg') }}" />
                        <div class="content_sect3">
                            <p>
                                {{ pages.information.content|nl2br }}
                            </p>
                        </div>
                        {% if pages.information.nav_is_active %}
                            <a href="{{ pages.information.nav_role }}" class="btn btn-default but3">
                                {{ pages.information.nav_title }}
                            </a>
                        {% endif %}
                    </div>
                </div>
            </div>
        </section>
    {% endif %}

    {% if pages.about %}
        <section class="sect4">
            <div class="container-fluid">
                <div class="row">
                    <div class="col-md-6 col-sm-6 text-block-pd-20-xs">
                        <div class="slogan_sect4">
                            {{ pages.about.title|nl2br }}
                        </div>
                        <img class="line2_sect4" src="{{ static('this/images/line2.jpg') }}" />
                        <div class="content_sect4">
                            <p>
                                {{ pages.about.content|nl2br }}
                            </p>
                        </div>
                        {% if pages.about.nav_is_active %}
                            <a href="{{ pages.about.nav_role }}" class="btn btn-default but4">
                                {{ pages.about.nav_title }}
                            </a>
                        {% endif %}
                    </div>
                    <div class="col-md-6 col-sm-6 bg5"></div>
                </div>
            </div>
        </section>
    {% endif %}

    <section class="bg_form" ng-controller="FeedbackCtrl" ng-cloak id="feedback">
        <div class="container-fluid text-center">
            <div class="row">
                <div class="col-md-6 col-md-offset-3 col-sm-6 col-sm-offset-3 form_inp">

                    <div class="row">
                        <div class="col-md-12">
                            <div class="slogan_form">
                                Formulaire<br /> de commentaires
                            </div>
                            <img class="line_form" src="{{ static('this/images/line_form.jpg') }}" />
                        </div>
                    </div>

                    <div class="row">
                        <div class="col-md-12">
                            <div class="content_form">
                                <p>
                                    Formulaire de commentaires contact avec les représentants de l'organisation.
                                </p>
                            </div>
                        </div>
                    </div>

                    {# form #}
                    <form id="feedback-form" method="post" action="{{ url('home') }}">
                        {% csrf_token %}
                        <div class="row inp1">
                            {# full name #}
                            <div class="col-md-6">

                                <input
                                    type="text"
                                    placeholder="Nom complet"
                                    name="full_name"
                                    ng-model="full_name.model"
                                    ng-init="full_name.setOptions({init:'{{ form.full_name.value()|defaults('default') }}'})"
                                />

                                <ul class="errorlist">
                                    <li ng-show="full_name.isValidError()">{{ _('It is invalid full name!') }}</li>
                                    <li ng-show="full_name.isRequiredError()">{{ _('This field is required!') }}</li>
                                    {% for error in form.full_name.errors %}
                                        <li>{{ error }}</li>
                                    {% endfor %}
                                </ul>

                            </div>
                            {# /full name #}

                            {# category #}
                            <div class="col-md-6 inp1_2">

                                <input
                                    type="text"
                                    placeholder="Catégorie"
                                    name="category"
                                    ng-model="category.model"
                                    ng-init="category.setOptions({init:'{{ form.category.value()|defaults('default') }}'})"
                                />

                                <ul class="errorlist">
                                    <li ng-show="category.isValidError()">{{ _('It is invalid category!') }}</li>
                                    <li ng-show="category.isRequiredError()">{{ _('This field is required!') }}</li>
                                    {% for error in form.category.errors %}
                                        <li>{{ error }}</li>
                                    {% endfor %}
                                </ul>

                            </div>
                            {# /category #}
                        </div>
                        <div class="row inp2">
                            {# subject #}
                            <div class="col-md-12">

                                <input
                                    type="text"
                                    placeholder="Assujettir"
                                    name="subject"
                                    ng-model="subject.model"
                                    ng-init="subject.setOptions({init:'{{ form.subject.value()|defaults('default') }}'})"
                                />

                                <ul class="errorlist">
                                    <li ng-show="subject.isValidError()">{{ _('It is invalid subject!') }}</li>
                                    <li ng-show="subject.isRequiredError()">{{ _('This field is required!') }}</li>
                                    {% for error in form.subject.errors %}
                                        <li>{{ error }}</li>
                                    {% endfor %}
                                </ul>

                            </div>
                            {# /subject #}
                        </div>
                        <div class="row inp3">
                            {# message #}
                            <div class="col-md-12">

                                <textarea
                                    placeholder="Un message"
                                    name="message"
                                    ng-model="message.model"
                                    ng-init="message.setOptions({init:'{{ form.message.value()|defaults('default') }}'})"
                                ></textarea>

                                <ul class="errorlist">
                                    <li ng-show="message.isValidError()">{{ _('It is invalid message!') }}</li>
                                    <li ng-show="message.isRequiredError()">{{ _('This field is required!') }}</li>
                                    {% for error in form.message.errors %}
                                        <li>{{ error }}</li>
                                    {% endfor %}
                                </ul>

                            </div>
                            {# /message #}
                        </div>
                        <div class="row">
                            <div class="col-md-4 col-sm-12 captcha">
                                {# <img src="{{ static('this/images/img_captcha.jpg') }}"/> #}
                            </div>
                            <div class="col-md-6 col-sm-6">
                                <button
                                    type="submit"
                                    class="btn btn-default but_form"
                                    ng-disabled="formIsNotValid()"
                                >
                                    à envoyer
                                </button>
                            </div>
                        </div>
                    </form>
                    {# /form #}

                </div>
            </div>
        </div>
    </section>
{% endblock %}

