{% extends 'base.jinja' %}

{% block ngcontroller %}ng-controller="HomeCtrl"{% endblock %}

{% block js %}
    {{ super() }}
    <script src="{{ static('this/js/angularjs/controllers/homectrl.js') }}"></script>
{% endblock %}

{% block content %}
    {# The ``A`` page. #}
    <div class="row display a">
        <div class="col-md-6 left">
            &nbsp;
        </div>
        <div class="col-md-6 right">
            <span class="brand"></span>
            <div style="clear:both;"></div>
            <div class="slogan">
                Devenir l'auteur de votre vie
            </div>
            <div class="content">
                Droite la vie privee et familiale
            </div>
            <div class="nav">
                <button class="classic">
                    Live la suite...
                </button>
            </div>
        </div>
    </div>
    {# /The ``A`` page. #}

    {# The ``B`` page. #}
    <div class="row display b">
        <div class="col-md-6 left">
            <h1>
                Brève biographie
            </h1>
            <article class="content">
                Chaque personne de la façon dont vous avez besoin pour aller de
                l'avant et n'a pas hésité à se prononcer sur un des facteurs
                émotionnels et historiques de nos vies. Les actions que nous
                effectuons doivent être humanitaire et consciemment en harmonie
                avec sa personnalité. Et rappelez-vous, vous voulez lutter pour
                le meilleur, et vous pouvez vivre honnêtement que possible et
                propre à lui-même.
            </article>
            <div class="nav content">
                <button class="classic">
                    Live la suite...
                </button>
            </div>
        </div>
        <div class="col-md-6 right">
            &nbsp;
        </div>
    </div>
    {# /The ``B`` page. #}

    {# The ``C`` page. #}
    <div class="row display c">
        <div class="col-md-6 left">
            &nbsp;
        </div>
        <div class="col-md-6 right">
            <h1>
                Un résumé de la fondation
            </h1>
            <article class="content">
                L'international de la Fondation "Vivre" prend la position du
                point dans la vie sociale de notre société, dans laquelle vous
                pouvez créer une dynamique basée sur le droit à la vie privée
                et familiale sur la planète. Où que vous ne viviez pas avec le
                développement de l'action sociale et économique.
            </article>
            <div class="nav content">
                <button class="classic">
                    Live la suite...
                </button>
            </div>
        </div>
    </div>
    {# /The ``C`` page. #}

    {# The ``D`` page. #}
    <div class="row display b">
        <div class="col-md-6 left">
            <h1>
                DioStim / Résumé du projet DioStim
            </h1>
            <article class="content">
                DioStim doit d'abord le pouls de nos vies sur une base
                quotidienne. Président, qui donne de la personnalité
                obosnovatelnost et économiquement et techniquement organisé en
                eux-mêmes le droit d'améliorer nos vies, qui est le droit à une
                vie meilleure personnelle et familiale dans le monde entier.
            </article>
            <div class="nav content">
                <button class="classic">
                    Aller sur le site
                </button>
            </div>
        </div>
        <div class="col-md-6 right">
            &nbsp;
        </div>
    </div>
    {# /The ``D`` page. #}

    {# The ``feedback`` page. #}
    <section class="display feedback">
        <div class="row">
            <div class="col-md-8 col-md-offset-2">

                <div class="row">
                    <div class="col-md-12">
                        <h1>Formulaire de commentaires</h1>
                        <p>
                            Formulaire de commentaires contact avec les representants de
                            l'organisation.
                        </p>
                    </div>
                </div>

                <div class="row">
                    <div class="col-md-6">
                        <input type="text" placeholder="Nom complet" />
                    </div>
                    <div class="col-md-6">
                        <input type="text" placeholder="Categorie" />
                    </div>
                </div>

                <div class="row">
                    <div class="col-md-12">
                        <input type="text" placeholder="Assujettir" />
                    </div>
                </div>

                <div class="row">
                    <div class="col-md-12">
                        <textarea placeholder="Un message"></textarea>
                    </div>
                </div>

                <div class="row">
                    <div class="col-md-6">
                    </div>
                    <div class="col-md-6" style="text-align:right;">
                        <button class="classic">
                            A envoyer
                        </button>
                    </div>
                </div>

            </div>
        </div>

    </section>
    {# /The ``feedback`` page. #}
{% endblock %}

